@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
.token.function {
    color: #72f1b8 !important;
    text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475 !important;
}

.token.keyword {
    color: #f97e72 !important;
    text-shadow: 0 0 1px #000, 0 0 5px #fc1f2e3d, 0 0 3px #fc1f2e3d, 0 0 14px #fc1f2e3d !important;
}

.token.number {
    color: #f92aad !important;
    text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3 !important;
}

.token.operator {
    color: #6d77b3 !important;
    background: none !important;
    text-shadow: 0 0 2px #6d77b3, 0 0 5px #6d77b3, 0 0 10px #6d77b3 !important;
}

.token.property {
    color: #55c588 !important;
    text-shadow: 0 0 1px #001716, 0 0 2px #55c58752, 0 0 3px #55c58752, 0 0 5px #55c58752 !important;
}

.token.boolean {
    color: #f97e72 !important;
    text-shadow: 0 0 1px #000, 0 0 5px #fc1f2e3d, 0 0 3px #fc1f2e3d, 0 0 14px #fc1f2e3d !important;
}

pre {
    background: #222436 !important;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0.5px 9px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 9px 0 rgba(0, 0, 0, 0.13);
    font-family: 'Source Code Pro', monospace !important;
}

code {
    color: white !important;
    text-shadow: none !important;
    background: #222436 !important;
    font-family: 'Source Code Pro', monospace !important;
}